<VirtualHost *:80>
    ServerName Symfony
    ServerAlias Symfony

    ErrorLog /var/log/apache2/project_error.log
    CustomLog /var/log/apache2/project_access.log combined

    # used for http basic auth and oauth2 bearer token
    SetEnvIfNoCase ^Authorization$ "(.+)" HTTP_AUTHORIZATION=$1

    SetEnv SYMFONY__DATABASE__USER {{ DBUSER }}
    SetEnv SYMFONY__DATABASE__PASSWORD {{ DBPASSWORD }}

    DocumentRoot {{ APPWEBROOT }}

     <IfModule mod_fastcgi.c>
        AddType application/x-httpd-fastphp5 .php
        Action application/x-httpd-fastphp5 /php5-fcgi
        Alias /php5-fcgi /usr/lib/cgi-bin/php5-fcgi
        FastCgiExternalServer /usr/lib/cgi-bin/php5-fcgi -socket /var/run/php5-fpm-{{ APPNAME }}.sock -pass-header Authorization
    </IfModule>

    <Directory {{ APPWEBROOT }}>
        AllowOverride All
        Order Deny,Allow
        Allow from all

        ## Start directives copied from standard Sf .htaccess
        DirectoryIndex app.php
        <IfModule mod_rewrite.c>
            RewriteEngine On

            RewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$
            RewriteRule ^(.*) - [E=BASE:%1]

            RewriteCond %{ENV:REDIRECT_STATUS} ^$
            RewriteRule ^app\.php(/(.*)|$) %{ENV:BASE}/$2 [R=301,L]

            RewriteCond %{REQUEST_FILENAME} -f
            RewriteRule .? - [L]

            RewriteRule .? %{ENV:BASE}/app.php [L]
        </IfModule>

        ## End directives copied from standard Sf .htaccess
    </Directory>
</VirtualHost>
